.instagram-form {
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 349px;
}

.instagram-input {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 18px 20px 18px 16px;
  margin-left: 24px;
}

.instagram-btn {
  cursor: pointer;
  width: 156px;
  height: 60px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  padding: 18px;
  text-align: center;
  margin-top: 24px;
  margin-left: 23px;
}
