#profile-details {
  width: 606px;
  height: 123px;
  border: 1px solid #ececec;
  border-radius: 8px;
  margin-left: 375px;
  align-items: center;
  display: flex;
  margin-bottom: 38px;

  img {
    margin-left: 28px;
  }

  span {
    font-family: "Inter" sans-serif;
    margin-left: 28px;
    font-size: 28px;
    color: #000;
  }
}

#is-this-you-questions {
  margin-left: 375px;
 
  .radio-link{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #fff;
 }

.black{
  color: #000;
  margin-left: 40px;
 }
  .questions-btn {
    cursor: pointer;
    width: 156px;
    height: 60px;
    background-color: #000;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    padding: 23px 30px;
    text-align: center;
    margin-top: 24px;
    

    &:hover{
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.76);
      border: 2px solid #fff;
      border-radius: 10px;
      transition: 0.3s all ease;
      -webkit-box-shadow: 4px 4px 0px #000, inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 4px 4px 0px #000, inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
      box-shadow: 4px 4px 0px #000, inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }

  }

  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  
  }
}
